<html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>
  <link rel="stylesheet" href="styles/titlebar.css" />
  <link rel="stylesheet" href="styles/main.css" />
</head> 
<body>
    <!-- 界面顶栏 -->
    <div id="header"> 
          <include src="titlebar.html" /> 
    </div> 
    
	<!-- 主菜单 -->
	<div class="systemmenu" id="systemmenu">
		<div .sys>
			<img src="/layout/styles/images/Home.png"><span>我的桌面</span>
		</div>
    </div>

    <!-- 界面中部内容栏 -->
    <div id="container">
	  <div id="reflection">
		<span class="maininfo" id="info1"></span>	
		<img src="/layout/styles/images/bouncing-beach-ball.png">
		<span class="maininfo" id="info2"></span>
      </div>

    </div>
    <!-- 界面底栏 -->
    <div id="mainfooter">
		<span class="status" id="status1"></span>
		<span class="status" id="status2"></span>
		<span class="status" id="status3"></span>
		<span class="status" id="status4"></span>
		<span class="status" id="status5"></span>
    </div>
</body>